name: markdownlint

on:
  push:
    branches: [main, master]
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run markdownlint-cli2 and fix
        uses: DavidAnson/markdownlint-cli2-action@v19
        with:
          globs: |
            **/*.md
          fix: true

      - name: Commit and Push fixes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "style: Fix Markdown linting errors"
          file_pattern: "**/*.md"
